:root{
    --color-blue-600: hsl(231, 69%, 60%);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.a {
  display: none;
}

body{
    width: 100vw;
}

.font-rubik{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

nav{
    .brand__logo{
        width: 10rem;
        height: 100%;
    }
}

.hero{
    .hero__banner{
        position: relative;
       img{
         width: 60rem;
       }
       .graphic{
        width: 30rem;
        height: 20rem;
        position: absolute;
        z-index: -1;
            .half-circle{
                background-color: var(--color-blue-600);
                width: calc(40%);
                height: calc(100%);
                border-radius: 50% 0 0 50%;
                display: inline-block;
            }
            .rectangle{
                width: calc(60%);
                height: calc(100%);
                background-color: var(--color-blue-600);
            }
        }
       }

}
.test .first {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test .wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.test .second {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  grid-area: 2/7;
}
