:root{
    --color-blue-600: hsl(231, 69%, 60%);
    --color-blue-950: hsl(229, 31%, 21%)
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

.a {
  display: none;
}

body{
    width: 100%;
}

button{
    transition: background-color 0.2s ease-out;

}

nav li, footer li{
    transition: color 0.2s ease-out;
}

.socials a{
    transition: width 0.2s ease-out;
}

.font-rubik{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

nav{
    .brand__logo{
        width: 10rem;
        height: 100%;
    }

    .nav__menu{
        display: none;
    }

    .nav__mobile{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-blue-950);
        opacity: 0.96;
        z-index: 2;
    }
}

.hero{
    .hero__banner{
        position: relative;
       img{
         width: 60rem;
       }
       .graphic{
        position: absolute;
        z-index: -1;
            .half-circle{
                background-color: var(--color-blue-600);
                width: 200px;
                height: 200px;
                border-radius: 50% 0 0 50%;
                display: inline-block;
            }
            .rectangle{
                width: 200px;
                height: 200px;
                background-color: var(--color-blue-600);
            }
        }
       }
}


.carousel-inactive{
    display: none;
    opacity: 0;
    
}

.answer{    
    transition: height 0.2s ease-out;
    height: 0;
    visibility: hidden;
}

@media (min-width: 1024px){
    .nav__menu{
        display: flex !important;
        flex-direction: row;

    }
    .nav__hamburger{
        display: none;
    }

}


.test .first {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test .wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.test .second {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  grid-area: 2/7;
}

